In [1]:
import pytesseract
import cv2
from PIL import Image 
import re
import pandas as pd
import fitz
import os
import boto3
import io
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import numpy as np

F:\anaconda3\envs\python_3_7\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

# Code to Convert PDF to PNG

In [2]:
def convert_pdf2img(input_file: str,pages=None):
    """Converts pdf to image and generates a file by page"""
    # Open the document
    pdfIn = fitz.open(input_file)
    output_files = []
    # Iterate throughout the pages
    for pg in range(pdfIn.pageCount):
        if str(pages) != str(None):
            if str(pg) not in str(pages):
                continue
        # Select a page
        page = pdfIn[pg]
        rotate = int(0)
        # PDF Page is converted into a whole picture 1056*816 and then for each picture a screenshot is taken.
        # zoom = 1.33333333 -----> Image size = 1056*816
        # zoom = 2 ---> 2 * Default Resolution (text is clear, image text is hard to read)    = filesize small / Image size = 1584*1224
        # zoom = 4 ---> 4 * Default Resolution (text is clear, image text is barely readable) = filesize large
        # zoom = 8 ---> 8 * Default Resolution (text is clear, image text is readable) = filesize large
        zoom_x = 2
        zoom_y = 2
        # The zoom factor is equal to 2 in order to make text clear
        # Pre-rotate is to rotate if needed.
        mat = fitz.Matrix(zoom_x, zoom_y).preRotate(rotate)
        pix = page.getPixmap(matrix=mat, alpha=False)
        path = 'Makro Invoices/Makro Invoices/New/'
        output_file = f"{path+os.path.splitext(os.path.basename(input_file))[0]}_page{pg+1}.png"
        pix.writePNG(output_file)
        output_files.append(output_file)
    pdfIn.close()
    summary = {
        "File": input_file, "Pages": str(pages), "Output File(s)": str(output_files)
    }
    # Printing Summary
    print("## Summary ########################################################")
    print("\n".join("{}:{}".format(i, j) for i, j in summary.items()))
    print("###################################################################")
    return output_files

In [3]:
convert_pdf2img('Makro Invoices/Makro Invoices/Convert/4000108244 meneghello stock almacen 01.07.2022.pdf')

Deprecation: 'preRotate' removed from class 'Matrix' after v1.19 - use 'prerotate'.
Deprecation: 'getPixmap' removed from class 'Page' after v1.19 - use 'get_pixmap'.

## Summary ########################################################
File:Makro Invoices/Makro Invoices/Convert/4000108244 meneghello stock almacen 01.07.2022.pdf
Pages:None
Output File(s):['Makro Invoices/Makro Invoices/New/4000108244 meneghello stock almacen 01.07.2022_page1.png']
###################################################################

Deprecation: 'writePNG' removed from class 'Pixmap' after v1.19 - use 'save'.

['Makro Invoices/Makro Invoices/New/4000108244 meneghello stock almacen 01.07.2022_page1.png']

In [5]:
pytesseract.pytesseract.tesseract_cmd = r"C:\Program Files\Tesseract-OCR\tesseract.exe"

In [6]:
formats = pd.read_excel('invoice_formats.xlsx')
final = pd.read_excel('Extracted_Data.xlsx')

In [2]:
Ima = "Makro Invoices/Makro Invoices/Converted/61948_A28647451 DEFAULT C9627 TYPE_20220523_6_FacturaCompra_page1.png"

In [6]:
%%time
dat = {
    "Vat Number":'',
       "Total":0,
       "Date":'',
       "Document_Type":"",
      "Invoice_Number":''}
img  = cv2.imread(Ima, cv2.COLOR_RGB2GRAY)
text=(pytesseract.image_to_string(img))
text_list = text.split("\n")
vat = []
date = []
tot = []
doc_type = []
print(type(text_list))
for idx, a in enumerate(text_list):
    if(a.strip() != ""):


        if (re.search("[A-Z]{1}-[0-9]{8}",a)):
            b = re.findall("[A-Z]{1}-[0-9]{8}",a)
            dat["Vat Number"] = b[0]
            vat.append(b[0].replace('-',''))
            print(b)
        elif (re.search("[0-9]{8}-[A-Z]{1}",a)):
            b = re.findall("[0-9]{8}-[A-Z]{1}",a)
            dat["Vat Number"] = b[0]
            vat.append(b[0].replace('-',''))
        elif (re.search("[0-9]{8}[A-Z]{1}",a)):
            b = re.findall("[0-9]{8}[A-Z]{1}",a)
            dat["Vat Number"] = b[0]
            vat.append(b[0])
    
        elif (re.search("[A-Z]{1}-[0-9]{8}",a)):
            b = re.findall("[A-Z]{1}-[0-9]{8}",a)
            dat["Vat Number"] = b[0]
            vat.append(b[0].replace('-',''))

        elif (re.search("[A-Z]{1}[0-9]{8}",a)):
            b = re.findall("[A-Z]{1}[0-9]{8}",a)
            dat["Vat Number"] = b[0]
            vat.append(b[0])
            
        elif (re.search("[A-Z]{1}[0-9]{2}/[0-9]{6}",a)):
            b = re.findall("[A-Z]{1}[0-9]{2}/[0-9]{6}",a)
            dat["Vat Number"] = b[0]
            vat.append(b[0].replace('/',''))
            
        elif (re.search("[A-Z]{1}-[0-9]{2}.[0-9]{3}.[0-9]{3}",a)):
            b = re.findall("[A-Z]{1}-[0-9]{2}.[0-9]{3}.[0-9]{3}",a)
            di = b[0].replace('-','')
            dit = di.replace(',','')
            dat["Vat Number"] = dit.replace('.','')
        elif (re.search("[A-Z]{1}-[0-9]{2}/[0-9]{6}",a)):
            b = re.findall("[A-Z]{1}-[0-9]{2}/[0-9]{6}",a)
            di = b[0].replace('-','')
            dit = di.replace(',','')
            dat["Vat Number"] = dit.replace('/','')

        if len(vat)>1:
            dat["Vat Number"] = vat[0]
        else:
            pass
        
        if "ALBARAN" in a or "Albaran" in a:
            dat["Document_Type"] = "Albaran"
            doc_type.append("Albaran")
        elif "Factura" in a or "FACTURA" in a  or "factura" in a :
            dat["Document_Type"] = "Factura"
            doc_type.append("Factura")
        if len(doc_type)>1:
            dat["Document_Type"] = doc_type[0]
        
         #Date section           
        if (re.search("\d{2}/\d{2}/\d{4}",a)):
            b  = re.findall("\d{2}/\d{2}/\d{4}", a)
            dat["Date"] = b[0].replace('/','-')
            date.append(b[0].replace('/','-'))
        elif (re.search("\d{2}-\d{2}-\d{4}",a)):
            b = re.findall("\d{2}-\d{2}-\d{4}",a)
            dat["Date"] = b[0].replace('/','-')
            date.append(b[0].replace('/','-'))
        elif (re.search("\d{2}/\d{2}/\d{2}",a)):
            b = re.findall("\d{2}/\d{2}/\d{2}",a)
            dat["Date"] = b[0].replace('/','-')
            date.append(b[0].replace('/','-'))
        elif (re.search("\d{1}/\d{2}/\d{2}",a)):
            b = re.findall("\d{1}/\d{2}/\d{2}",a)
            dat["Date"] = b[0].replace('/','-')
            date.append(b[0].replace('/','-'))
        
        elif (re.search("[0-9]{2}\.[0-9]{2}\.[0-9]{4}",a)):
            b = re.findall("[0-9]{2}\.[0-9]{2}\.[0-9]{4}",a)
            dat["Date"] = b[0].replace('.','-')
            date.append(b[0].replace('.','-'))
    
        if len(date)>1:
            dat["Date"] = date[0].replace('/','-')

        #invoice number section
        if ("Factura" in a or "ALBARAN" in a or "Factura: " in a):

            print(a)
            b = a.split(" ")
            if b[0] == "ALBARAN":
                dat["Invoice_Number"] = b[1]
            print(b)
            if len(b)>3:
                print(b)
                if len(b)>4 and b[2] !='—' and len(b[1])!=25 and len(b[1])>5:
                    dat["Invoice_Number"] = b[1]+b[2]
                    print(b)
                elif len(b)>=5 and len(b[1])==25:
                    dat["Invoice_Number"] = b[1]
                elif len(b)>6 and len(b[3])>15:
                    dat["Invoice_Number"] = b[1]+ b[2]+ b[3]
                elif len(b)>6 and b[1]== "0/0":
                    dat["Invoice_Number"] = b[1] + b[2]
    
    
    
    
        if ("Tarjeta" in a or "Credito" in a or  "pagina" in a or "Total:" in a  or "TOTAL" in a or  "Total factura" in a or  "Total Factura" in a or "TOTAL FACTURA" in a or "Total CON IGIC" in a  or "IMPORTE FACTURA EU" in a or "IMPORTE FACTURA" in a or "EUROS" in a or "Importe:" in a):
            print("Case Total")
            b = a.split(" ")
            print(b)
            if len(b[-1])==2:
                tat =b[-2]+b[-1]
                if re.search('[a-zA-Z]', tat):
                    dat["Total"] = tat 
                else:
                    tat = tat.replace(',','.')
                dat["Total"] = float(tat)
                print(float(tat))
            elif b[-1]=="€":
                if re.search('[a-zA-Z]', b[-2]):
                    dat["Total"] = b[-2].replace(',','.')
                else:
                    dat["Total"] = float(b[-2].replace(',','.'))
                
            elif b[-1]=='€':
                if re.search('[a-zA-Z]', b[-2]):
                    dat["Total"] = b[-2].replace(',','.')
                else:
                    dat["Total"] = (b[-2].replace(',','.'))
            elif b[-1] == "|":
                if re.search('[a-zA-Z]', b[-2]):
                    dat["Total"] = b[-2].replace(',','.')
                else:
                    dat["Total"] = (b[-2].replace(',','.'))
            elif b[-1] == "EUR":
                if re.search('[a-zA-Z]', b[-2]):
                    dat["Total"] = b[-2].replace(',','.')
                else:
                    dat["Total"] = (b[-2].replace(',','.'))
            else:
                if re.search('[a-zA-Z]', b[-1]):
                    dat["Total"] = b[-1].replace(',','.')
                else:
                    dat["Total"] = (b[-1].replace(',','.'))
                print(b[-1])


                
       
                
if dat["Total"] == 0 or dat["Total"]== "©" or (dat['Total'])==1 or dat["Total"]=="SUB TOTAL"  or dat["Total"] == 'factura' or dat["Total"]=="FACTURA" or dat["Total"]== "EUROS" or dat["Total"] == "©" or dat["Total"]=="TOTAL":
        tot = []
        im = Image.open(Ima) 
        # Size of the image in pixels (size of orginal image) 
        # (This is not mandatory) 
        width, height = im.size 
        print(im.size)
        # Setting the points for cropped image 
        left = 605
        top = 600
        right = 1675
        bottom = 1590
        # Cropped image of above dimension 
        # (It will not change orginal image) 
        im1 = im.crop((left, top, right, bottom)) 
         # Shows the image in image viewer 
        im1.save("Makro Invoices/Makro Invoices/New/pp2.jpg")
        img  = cv2.imread('Makro Invoices/Makro Invoices/New/pp2.jpg', cv2.COLOR_RGB2GRAY)
        tex=(pytesseract.image_to_string(img))
        text_list = tex.split("\n")
        text_list = text_list
        print(text_list)
        for idx, a in enumerate(text_list):
            if(a.strip() != ""):
                if re.search('[0-9]{2},[0-9]{2}',a):
                    b = re.findall('[0-9]{2},[0-9]{2}',a)
                    print(b,'this is total')
                    if re.search('[a-zA-Z]', b[0]):
                        dat['Total'] = b[0]
                    else:
                        dat['Total'] = b[0].replace(',','')

<class 'list'>
Factura 0/0 (006) 0051/(2022)143023 — (051-319252) 006/111 4883
['Factura', '0/0', '(006)', '0051/(2022)143023', '—', '(051-319252)', '006/111', '4883']
['Factura', '0/0', '(006)', '0051/(2022)143023', '—', '(051-319252)', '006/111', '4883']
Factura de entrega
['Factura', 'de', 'entrega']
Case Total
['Total', 'pagina', '444,86']
444,86
Wall time: 9.35 s

In [7]:
dat

{'Vat Number': 'B38947636',
 'Total': '444.86',
 'Date': '23-05-2022',
 'Document_Type': 'Factura',
 'Invoice_Number': '0/0(006)0051/(2022)143023'}

In [39]:
#dat['Date'].replace('/','-')


#dat['Vat Number'] = dat['Vat Number'].replace(',', '')
#dat['Vat Number'] = dat['Vat Number'].replace('.', '')
#dat['Vat Number'] = dat['Vat Number'].replace('-', '') 
#dat['Vat Number'] = dat['Vat Number'].replace('/', '')
#if dat['Total'].isdigit():
#    print('h')

In [10]:
data  =  pd.DataFrame(dat,index=[0])
data['Vat Number']= data['Vat Number'].str.replace(' ', '')
print(data)

  Vat Number   Total     Date Document_Type Invoice_Number
0  B38988242  273.22  3-02-20       Factura

In [11]:
data['Total'] =data['Total'].str.replace(',','.')

In [12]:
data['Vat Number']= data['Vat Number'].str.replace('-', '')
data['Vat Number']= data['Vat Number'].str.replace(',', '')
data['Vat Number']= data['Vat Number'].str.replace('.', '')
data['Vat Number']= data['Vat Number'].str.replace('/', '')
data

F:\anaconda3\envs\python_3_7\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

  Vat Number   Total     Date Document_Type Invoice_Number
0  B38988242  273.22  3-02-20       Factura

In [13]:
formats['last']= (formats['nif'].isin(data['Vat Number']))

In [14]:
df2 = formats.query("last == True")

In [15]:
df2

              formato               nombre        nif  last
8892   \d\d\d\d\d\d\d  Isayca Tenerife SLU  B38988242  True
12519  \d\d\d\d\d\d\d  Isayca Tenerife SLU  B38988242  True

In [16]:
inv = 0
for i in df2['formato']:
    inv = i
if inv ==0:
    pass
else:
    factura = re.compile(inv)
    mo = factura.search(text)
    if mo is None:
        pass
    else:
        dat["Invoice_Number"]=mo.group()

In [17]:
dat

{'Vat Number': 'B38988242',
 'Total': '273.22',
 'Date': '3-02-20',
 'Document_Type': 'Factura',
 'Invoice_Number': '1825768'}

In [8]:
im = Image.open(Ima)

In [9]:
buffered = io.BytesIO()
im.save(buffered, format='PNG')
client = boto3.client('textract')
response = client.analyze_document(
    Document={'Bytes': buffered.getvalue()},
    FeatureTypes=['TABLES']
)

In [10]:
def map_blocks(blocks, block_type):
    return {
        block['Id']: block
        for block in blocks
        if block['BlockType'] == block_type
    }

blocks = response['Blocks']
tables = map_blocks(blocks, 'TABLE')
cells = map_blocks(blocks, 'CELL')
words = map_blocks(blocks, 'WORD')
selections = map_blocks(blocks, 'SELECTION_ELEMENT')

def get_children_ids(block):
    for rels in block.get('Relationships', []):
        if rels['Type'] == 'CHILD':
            yield from rels['Ids']
            
dataframes = []

for table in tables.values():

    # Determine all the cells that belong to this table
    table_cells = [cells[cell_id] for cell_id in get_children_ids(table)]

    # Determine the table's number of rows and columns
    n_rows = max(cell['RowIndex'] for cell in table_cells)
    n_cols = max(cell['ColumnIndex'] for cell in table_cells)
    content = [[None for _ in range(n_cols)] for _ in range(n_rows)]

    # Fill in each cell
    for cell in table_cells:
        cell_contents = [
            words[child_id]['Text']
            if child_id in words
            else selections[child_id]['SelectionStatus']
            for child_id in get_children_ids(cell)
        ]
        i = cell['RowIndex'] - 1
        j = cell['ColumnIndex'] - 1
        content[i][j] = ' '.join(cell_contents)

    # We assume that the first row corresponds to the column names
    dataframe = pd.DataFrame(content[1:], columns=content[0])
    dataframes.append(dataframe)

In [11]:
if dataframes[0].shape[1] >=4 :
    this_data = pd.DataFrame(dataframes[0])

elif  dataframes[1].shape[1] >=4 :
    this_data = pd.DataFrame(dataframes[1])
  
elif dataframes[2].shape[1] >=4:
    this_data = pd.DataFrame(dataframes[2])

else:
    this_data = pd.DataFrame(dataframes[3])
    
this_data

,MM Num. artículo,Descrip. artículo,NOT_SELECTED Cont,Prec. Ud.,NOT_SELECTED Cont P.,NOT_SELECTED Precio,NOT_SELECTED Cant.,NOT_SELECTED,Importe,NOT_SELECTED Imp,Prec. Ud. DT,AOO RCD
0,Número de pedido,9-94623291,,,,,,,,,,
1,Entregado a: TABERNA,"OSSUNA, MANUEL DE OSSUNA(tasca",osuna),"3, SAN",CRISTOBAL DE,LA LAGUNA,"38202,",,Spain ***,Fecha:,23/05/2022,
2,053482,makro Chef Mantequilla pura sin,sal 1kg BQ,"8,130",1,"8,13",1,,"8,13",1,,
3,498342,Krona Derivado lácteo 35% M.G.,brik 11 BK,"5,130",1,"5,13",3,-,"15,39",1,,
4,091867,Tello Codillo asado 700g,PZ,"5,770",1,"5,77",6,-,"34,62",1,,
5,98437005103033,Julian de aguila Chorizo cular,iberico KG,"11,390","0,434","4,94",1,-,"4,94",1,,HD
6,,GTIN: 98437005103033 Lote: Fecha consumo prefe...,102228 2024-02-28 LOT:,102228,,,,,,,,
7,464113,Azuaga Salchichon ibérico extra,peso KG,"variable 17,670","1,180","20,85",1,-,"20,85",1,,
8,002815,Higado de pato extra congelado,pieza 450g,,,,,,,,,
9,,,PZ,"16,790",1,"16,79",2,-,"33,58",0,,
10,126151,Bogavante 400-600g Canarias,KG,"36,700","4,060","149,00",1,-,"149,00",1,,
11,056486,Atlante Almeja blanca extra,congelada 1Kg,,,,,,,,,
12,,,KG,"2,990","2,000","5,98",1,-,"5,98",1,,
13,078438,makro Chef Manjares de mar 2x200g,BJ,"2,850",1,"2,85",3,-,"8,55",1,,
14,108128,makro Chef Pasa sultana BOLSA 1,kg BL,"2,950",1,"2,95",1,-,"2,95",0,,
15,108070,makro Chef Almendra láminas bolsa,500g BL,"5,750",1,"5,75",1,-,"5,75",0,,
16,108122,makro Chef Nuez mondada bolsa,800g BL,"9,950",1,"9,95",1,-,"9,95",0,,
17,135031,Isabel Atún en aceite vegetal,lata 650g LT,"11,990",1,"11,99",1,-,"11,99",1,,
18,078246,makro Chef Espárrago punta blanca,9-12,piezas lata,500gne,,,,,,,
19,,,LT,"6,350",1,"6,35",1,-,"6,35",1,,
20,134214,aro Tomate frito 400g 6 unidades,LT,"0,658",6,"3,95",1,-,"3,95",1,,
21,078296,makro Chef Aceite oliva virgen,extra MAKRO,CHEF bidón,5L,,,,,,,
22,,,BD,"19,030",1,"19,03",1,-,"19,03",0,,
23,136816,Saborchef Aceite especial freir,lata 25 LT,"69,390",1,"69,39",1,-,"69,39",0,,
24,177377,Avecrem Caldo de pescado sin,gluten 1Kg,,,,,,,,,
25,,,BO,"8,540",1,"8,54",1,-,"8,54",1,,
26,177473,Avecrem Caldo vegetal sin gluten,1Kg BO,"8,050",1,"8,05",1,-,"8,05",1,,
27,168990,Kikoman Salsa de soja sin gluten,bote 11 BO,"9,790",1,"9,79",1,-,"9,79",1,,
28,089324,"aro Agua 1,5L 6 unidades",BO,"0,337",6,"2,02",4,-,"8,08",0,,
29,Fin de número,de pedido 9-94623291,,,,,,,,,,
30,,,,,,,,,,,,

                data = {'file': 'C:\Users\Usuario\Desktop\clasificador_2.0\jose-gastos-oct-2021_page10.png',
                        'labels': {"Supplier": '',
                                    "Vat Number": '',
                                    "Total": 0,
                                    "Date": '',
                                    "Invoice_Number": ''},
                        'tables': []
                        }

In [59]:
dat

{'Vat Number': 'A25004714',
 'Total': '561,47',
 'Date': '10/11/2020',
 'Document_Type': 'Factura',
 'Invoice_Number': ''}

In [12]:
this_data.columns = this_data.columns.str.replace('SELECTED  ', '')
this_data.columns = this_data.columns.str.replace('SELECTED ', '')
this_data.columns = this_data.columns.str.replace('SELECTED', '')
this_data.columns = this_data.columns.str.replace('NOT_', '')
this_data.columns = this_data.columns.str.replace('NOT_SELECTED  ', '')
this_data.columns = this_data.columns.str.replace('NOT_SELECTED', '')
big = this_data.columns[0]
cont = this_data.columns[2]
lot = this_data.columns[1]
prec = this_data.columns[3]
cant = this_data.columns[-5]
imp = this_data.columns[-2]
importe = this_data.columns[-3]
third = this_data.columns[-4]
this_data = this_data.loc[(this_data[big] != "Número de pedido") & (this_data[big] != "*** Número de pedido") & (this_data[big]!="*** Número de") & (this_data[big]!="*** Número")]
this_data = this_data.loc[(this_data[big] != "Entregado a: TABERNA") & (this_data[big] !="Entregado a: TASCA") & (this_data[big]!="Entregado a: TABERNA OSUNA")
          & (this_data[big]!= "Entregado a: TABERNA osuna")& (this_data[big]!="Fin de número") ]
this_data = this_data.loc[(this_data[imp]!= "Spain Fecha:") & (this_data[imp]!= "Spain Fecha:0") & (this_data[imp]!= "Spain Fecha:1")]
this_data = this_data.loc[this_data[cont] !="LOT:"]
this_data = this_data.loc[this_data[cant] !="Total"]
this_data = this_data.loc[this_data[cant]!="LA LAGUNA" ]
this_data = this_data.replace('',np.nan)
this_data = this_data.dropna(axis=0, thresh=3, how="any")
limitPer = len(this_data) * .100
this_data = this_data.dropna(thresh=limitPer, axis=1)
this_data = this_data.replace(np.nan,'0')

In [61]:
json_f = {}
json_f['file'] = Ima
json_f['labels'] = dat
json_f['tables'] = this_data
print(json_f)

{'file': 'Makro Invoices/Makro Invoices/New/10.11.20_Semillas Batlle SA_561,47_page1.png', 'labels': {'Vat Number': 'A25004714', 'Total': '561,47', 'Date': '10/11/2020', 'Document_Type': 'Factura', 'Invoice_Number': ''}, 'tables':          Cantidad Envase                                 Artículo I.V.A.  \
1          5,00 1Kg Caja                      Alfalfa CAPITANA R1    0+0
2         10,00 Bols Eco                   Calabaza Butternut ECO    0+0
3         10,00 Bols Eco                    Calabaza Mallorca ECO    0+0
4         10,00 Bols Eco          Lechuga Cuatro estaciones - ECO    0+0
5         10,00 Bols Eco               Pepino Marketmore 70 - ECO    0+0
6         10,00 Bols Eco        Perejil Común 2 (hoja grande) ECO    0+0
7         10,00 Bols Eco             Pimiento Largo de Reus - ECO    0+0
8         10,00 Bols Eco            Pimiento Dulce Italiano - ECO    0+0
9         10,00 Bols Eco     Rabanito medio largo rojo P.BLANCA -    0+0
10        10,00 Bols Eco                   Zananhoria Nantesa ECO    0+0
11        10,00 Bols Eco      Albahaca Genovesa hoja grande - ECO    0+0
12        10,00 Bols Eco  Manzanilla (Matricaria chamomilla) - EC    0+0
13        10,00 Bols Eco                                Menta ECO    0+0
14        10,00 Bols Eco        Oregano - Origanum majorana - ECO    0+0
15  12,00 Botella 1250ml                   Fert. Universal 1250ml    0+0
16   6,00 Botella 1250ml        Fert. Ecoyerba Crecimiento 1250ml    0+0
17   6,00 Botella 1250ml          Fert. Ecoyerba Floracion 1250ml    0+0
18       5,00 Caja 2,5kg         Fert. Universal Pellet Eco 2'5kg    0+0
19    6,00 Botella 400ml                    Fert. Universal 400ml    0+0
20    6,00 Botella 400ml               Fert. Plantas Verdes 400ml    0+0
21     6,00 L. Uso 750ml                    Triple Accion Quimico    0+0
22    6,00 Botella 100ml        Insecticida Polivalente ECO 100ml    0+0
23     6,00 Botella coex                  Triple Acción ECO 250ml    0+0
24     6,00 L. Uso 750ml          Fungicida Polivalente ECO 750mL    0+0
25      6,00 Spray 665cc          Insecticida Total Aerosol 500ml    0+0
26      6,00 Spray 335cc          Insecticida Total Aerosol 250ml    0+0
27      6,00 Spray 665cc                    Insecticida Total Eco    0+0
28     6,00 Spray 400 ml                        Anti Hormigas ECO    0+0
29    6,00 Talquera 250g   Tierra de Diatomeas Eco talquera 250gr    0+0
30           6,00 30 Gr.                 Insecticida Frutales 35g    0+0
31         6,00 Unidades      Sustrato Bolas Arcilla Expandida 51    0+0

   Euro Uni.   Dto. Euros Línea Neto Kg/Un Aproximado
1      6,500   0,00       32,50                 6,500
2      1,000  30,00        7,00                 0,700
3      1,000  30,00        7,00                 0,700
4      1,000  30,00        7,00                 0,700
5      1,000  30,00        7,00                 0,700
6      1,000  30,00        7,00                 0,700
7      1,000  30,00        7,00                 0,700
8      1,000  30,00        7,00                 0,700
9      1,000  30,00        7,00                 0,700
10     1,000  30,00        7,00                 0,700
11     1,000  30,00        7,00                 0,700
12     1,000  30,00        7,00                 0,700
13     1,000  30,00        7,00                 0,700
14     1,000  30,00        7,00                 0,700
15     4,850  30,00       40,74                 3,395
16     7,150  30,00       30,03                 5,005
17     7,150  30,00       30,03                 5,005
18     4,950  30,00       17,32                 3,464
19     2,950  30,00       12,39                 2,065
20     3,150  30,00       13,23                 2,205
21     9,250  30,00       38,85                 6,475
22     6,750  30,00       28,35                 4,725
23     9,950  30,00       41,79                 6,965
24     6,100  30,00       25,62                 4,270
25     5,850  30,00       24,57                 4,095
26     4,150  30,00       17,43                 2,905
27     7,950  30,00       33,39                 5,565
28     9,250  30,00       38,85                 6,475
29     2,750  30,00       11,55                 1,925
30     4,950  30,00       20,79                 3,465
31     2,173   0,00       13,04                 2,173  }

“DTO”, “Dto”, “Dto.”,Descuento DCTO

In [62]:
dat

{'Vat Number': 'A25004714',
 'Total': '561,47',
 'Date': '10/11/2020',
 'Document_Type': 'Factura',
 'Invoice_Number': ''}

In [13]:
this_data.head()

,MM Num. artículo,Descrip. artículo,Cont,Prec. Ud.,Cont P.,Precio,Cant.,,Importe,Imp
2,053482,makro Chef Mantequilla pura sin,sal 1kg BQ,"8,130",1,"8,13",1,0,"8,13",1
3,498342,Krona Derivado lácteo 35% M.G.,brik 11 BK,"5,130",1,"5,13",3,-,"15,39",1
4,091867,Tello Codillo asado 700g,PZ,"5,770",1,"5,77",6,-,"34,62",1
5,98437005103033,Julian de aguila Chorizo cular,iberico KG,"11,390","0,434","4,94",1,-,"4,94",1
6,0,GTIN: 98437005103033 Lote: Fecha consumo prefe...,102228 2024-02-28 LOT:,102228,0,0,0,0,0,0

In [32]:
str1 = 'CÓDIGO'
str2 = 'MM Num.'
code = ''
for i in this_data.columns:
    ratio1 = fuzz.partial_ratio(str1.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        code = i
    ratio2 = fuzz.partial_ratio(str2.lower(),str(i).lower())
    if ratio2>=75:
        print(i)
        code = i
print(code)

MM Num. artículo
MM Num. artículo

In [33]:
if code =='':
    pass 
else:
    codingo = this_data[code]
    codingo_data  =  pd.DataFrame(codingo,columns=[code])
    codingo_data

In [34]:
name = ''
index = 0
for i in this_data.columns:
    if (i == 'DESCRIPCIÓN') or (i=="Descrip. artículo") or (i=="Artículo/ Cod.cliente")or (i == 'DESCRIPCIÓN:')  or(i =="CONCEPTO")or (i=="UDS") or (i =="Concepto") or (i=="Descripción")  or (i=='DESCRIPCION') or (i=="Description articulo") or (i=="Description") or (i == "DESCRIPCIÓN ARTICULO") or (i=="Unidades Descripción")or (i=="PRODUCTO") or (i=="Articulo") or (i=='Denominación /Referencia'):
        print(i)
        match = index
        name = i
    index+=1

Descrip. artículo

In [35]:
str1 ='DESCRIPCIÓN'
str2 = "Descrip. artículo"
str3 = "Artículo/ Cod.cliente"
str4 = 'DESCRIPCIÓN:'
str5 = "CONCEPTO"
str6 = "UDS"
str7 = "Concepto"
str8 = "Descripción"
str9 = "DESCRIPCION"
str10 = "Description articulo"
str11 = "Description"
str12 = "DESCRIPCIÓN ARTICULO"
str13 = "Unidades Descripción"
str14 = "PRODUCTO"
str15 = "Articulo"
str16 = 'Denominación /Referencia'
name = ''
pro = []
for i in this_data.columns:
    ratio1 = fuzz.partial_ratio(str1.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        name = i
        pro.append(i)
        
        
    ratio2 = fuzz.partial_ratio(str2.lower(),str(i).lower())
    if ratio2>=75:
        print(i)
        name = i
        pro.append(i)
    ratio3 = fuzz.partial_ratio(str3.lower(),str(i).lower())
    if ratio3>=75:
        print(i)
        name = i
        pro.append(i)

    ratio4 = fuzz.partial_ratio(str4.lower(),str(i).lower())
    if ratio4>=75:
        print(i)
        name = i
        pro.append(i)
        
    ratio5 = fuzz.partial_ratio(str5.lower(),str(i).lower())
    if ratio5>=75:
        print(i)
        name = i
        pro.append(i)
        
    ratio6 = fuzz.partial_ratio(str6.lower(),str(i).lower())
    if ratio6>=75:
        print(i)
        name = i
        pro.append(i)
    ratio7 = fuzz.partial_ratio(str7.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        name = i
        pro.append(i)
        
    ratio8 = fuzz.partial_ratio(str8.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        name = i
        pro.append(i)
        
    ratio9 = fuzz.partial_ratio(str9.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        name = i
        pro.append(i)
        
    ratio10 = fuzz.partial_ratio(str10.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        name = i
        pro.append(i)
        
    ratio11= fuzz.partial_ratio(str11.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        name = i
        pro.append(i)
        
    ratio12 = fuzz.partial_ratio(str12.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        name = i
        pro.append(i)
        
    ratio13 = fuzz.partial_ratio(str13.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        name = i
        pro.append(i)
        
    ratio14 = fuzz.partial_ratio(str14.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        name = i
        pro.append(i)
        
    ratio15 = fuzz.partial_ratio(str15.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        name = i
        pro.append(i)
        
    ratio16 = fuzz.partial_ratio(str16.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        name = i
        pro.append(i)
        
        
if len(pro)>1:
    name = pro[0]

Descrip. artículo
Cont

In [36]:
this = this_data[name]

In [37]:
dataf  =  pd.DataFrame(this,columns=[name])

In [38]:
dataf

                                    Descrip. artículo
2                     makro Chef Mantequilla pura sin
3                      Krona Derivado lácteo 35% M.G.
4                            Tello Codillo asado 700g
5                      Julian de aguila Chorizo cular
6   GTIN: 98437005103033 Lote: Fecha consumo prefe...
7                     Azuaga Salchichon ibérico extra
8                      Higado de pato extra congelado
9                                                   0
10                        Bogavante 400-600g Canarias
11                        Atlante Almeja blanca extra
12                                                  0
13                  makro Chef Manjares de mar 2x200g
14                    makro Chef Pasa sultana BOLSA 1
15                  makro Chef Almendra láminas bolsa
16                      makro Chef Nuez mondada bolsa
17                      Isabel Atún en aceite vegetal
18                  makro Chef Espárrago punta blanca
19                                                  0
20                   aro Tomate frito 400g 6 unidades
21                     makro Chef Aceite oliva virgen
22                                                  0
23                    Saborchef Aceite especial freir
24                       Avecrem Caldo de pescado sin
25                                                  0
26                   Avecrem Caldo vegetal sin gluten
27                   Kikoman Salsa de soja sin gluten
28                           aro Agua 1,5L 6 unidades

In [39]:
prec = []
str1 = "Precio"
str2 = "Base I"
str3 = "PVP"
str4 = 'Importe'
str5 = 'Euro Uni.'
str6 = "IMP"
price =''
for i in this_data.columns:
    ratio1 = fuzz.partial_ratio(str1.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        prec.append(i)
        price = i
        print("Im condition 1")
    ratio2 = fuzz.partial_ratio(str2.lower(),str(i).lower())
    if ratio2>=75:
        print(i)
        prec.append(i)
        price =i
        print("Im condition 2")
    ratio3 = fuzz.partial_ratio(str3.lower(),str(i).lower())
    if ratio3>=75:
        print("Im condition 3")
        print(i)
        prec.append(i)
        price =i
    ratio4 = fuzz.partial_ratio(str4.lower(),str(i).lower())
    if ratio4>=75:
        print("Im condition 4")
        print(i)
        prec.append(i)
        price =i
    ratio5 = fuzz.partial_ratio(str5.lower(),str(i).lower())
    if ratio5>=75:
        print("Im condition 5")
        print(i)
        prec.append(i)
        price =i
    ratio6 = fuzz.partial_ratio(str6.lower(),str(i).lower())
    if ratio6>=75:
        print("Im condition 6")
        print(i)
        prec.append(i)
        price =i
if len(prec)>1:
    price = prec[0]
else:
    pass

Precio
Im condition 1
Im condition 4
Importe
Im condition 6
Importe
Im condition 4
Imp
Im condition 6
Imp

In [40]:
price_col = this_data[price]
price_data = pd.DataFrame(price_col,columns=[price])
price_data

    Precio
2     8,13
3     5,13
4     5,77
5     4,94
6        0
7    20,85
8        0
9    16,79
10  149,00
11       0
12    5,98
13    2,85
14    2,95
15    5,75
16    9,95
17   11,99
18       0
19    6,35
20    3,95
21       0
22   19,03
23   69,39
24       0
25    8,54
26    8,05
27    9,79
28    2,02

In [41]:
str1 = "DTO"
str2 = "Descuento"
str3 = "DCTO"
str4 = "Desc"
disc = ''
for i in this_data.columns:
    ratio1 = fuzz.ratio(str1.lower(),str(i).lower())
    ratio2 = fuzz.ratio(str2.lower(),str(i).lower())
    ratio3 = fuzz.ratio(str3.lower(),str(i).lower())
    ratio4 = fuzz.ratio(str4.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        disc = i
        print("Im condition 1")
    
    elif ratio2>=75:
        print(i)
        disc = i
        print("Im condition 2")
    
    elif ratio3>=75:
        print(i)
        disc = i
        print("Im condition 3")
    
    elif ratio4>=75:
        print(i)
        disc = i
        print("Im condition 4")
    
print(disc)

In [42]:
str1 = "Cantidad"
str2 = "Cant"
str3 = "Unid"
str4 = "Unidades"
str5 = "Uds"
str6 = "Peso"
for i in this_data.columns:
    ratio1 = fuzz.partial_ratio(str1.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        cat = i
        print("Im condition 1")
    ratio2 = fuzz.partial_ratio(str2.lower(),str(i).lower())
    if ratio2>=75:
        print(i)
        cat =i
        print("Im condition 2")
    ratio3 = fuzz.partial_ratio(str3.lower(),str(i).lower())
    if ratio3>=75:
        print("Im condition 3")
        print(i)
        cat =i
    ratio4 = fuzz.partial_ratio(str4.lower(),str(i).lower())
    if ratio4>=75:
        print("Im condition 4")
        print(i)
        cat =i
    ratio5 = fuzz.partial_ratio(str5.lower(),str(i).lower())
    if ratio5>=75:
        print("Im condition 5")
        print(i)
        cat =i
    ratio6 = fuzz.partial_ratio(str6.lower(),str(i).lower())
    if ratio6>=75:
        print("Im condition 6")
        print(i)
        cat =i

Cont
Im condition 1
Cont
Im condition 2
Cont P.
Im condition 2
Cant.
Im condition 1
Cant.
Im condition 2

In [43]:
Cantidad = this_data[cat]
Cantidad_data = pd.DataFrame(Cantidad,columns=[cat])
Cantidad_data

   Cant.
2      1
3      3
4      6
5      1
6      0
7      1
8      0
9      2
10     1
11     0
12     1
13     3
14     1
15     1
16     1
17     1
18     0
19     1
20     1
21     0
22     1
23     1
24     0
25     1
26     1
27     1
28     4

In [44]:
str1 = 'IMPUESTO'
imposto = ''

for i in this_data.columns:
    ratio1 = fuzz.partial_ratio(str1.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        imposto = i
print(imposto)

Imp
Imp

In [45]:
str1 = 'Tasa'
tasa = ''
for i in this_data.columns:
    ratio1 = fuzz.partial_ratio(str1.lower(),str(i).lower())
    if ratio1>=75:
        print(i)
        tasa = i
print(tasa)

In [46]:
if disc =='' and imposto=='' and tasa=='' and code!='':
    df2 = pd.concat([codingo_data,dataf,price_data,Cantidad_data],axis=1, join='inner')
    df2['Discount'] = 0
    df2['IMPUESTO']=0
    df2['Tasa']=0
    
elif code=='' and disc =='' and imposto=='' and tasa=='':
    df2 = pd.concat([dataf,price_data,Cantidad_data],axis=1, join='inner')
    df2['Codigo'] = 0
    df2['Discount'] = 0
    df2['IMPUESTO']=0
    df2['Tasa']=0
    
elif code=='' and disc!='' and imposto=='' and tasa=='':
    df2 = pd.concat([dataf,price_data,Cantidad_data,discount_data],axis=1, join='inner')
    df2['Codigo'] = 0
    df2['IMPUESTO']=0
    df2['Tasa']=0
    
elif disc !='' and imposto=='' and tasa=='' and code!='':
    discount = this_data[disc]
    discount_data = pd.DataFrame(discount,columns=[disc])
    df2 = pd.concat([codingo_data,dataf,price_data,Cantidad_data,discount_data],axis=1, join='inner')
    df2['IMPUESTO']=0
    df2['Tasa']=0
    
elif disc !='' and imposto!='' and tasa=='' and code!='':
    discount = this_data[disc]
    discount_data = pd.DataFrame(discount,columns=[disc])
    impoto = this_data[imposto]
    imposto_data = pd.DataFrame(impoto,columns[imposto])
    df2 = pd.concat([codingo_data,dataf,price_data,Cantidad_data,discount_data,imposto_data],axis=1, join='inner')
    df2['Tasa']=0
    
elif disc =='' and imposto!='' and tasa!='' and code!='':
    impoto = this_data[imposto]
    imposto_data = pd.DataFrame(impoto,columns[imposto])
    tas = this_data[tasa]
    tasa_data = pd.DataFrame(tas,columns[tasa])
    df2 = pd.concat([codingo_data,dataf,price_data,Cantidad_data,imposto_data,tasa_data],axis=1, join='inner')
    df2['Discount']=0
    
else:
    discount = this_data[disc]
    discount_data = pd.DataFrame(discount,columns=[disc])
    impota = this_data[imposto]
    impota_data = pd.DataFrame(impota,columns=[imposto])
    df2 = pd.concat([codingo_data,dataf,price_data,Cantidad_data,discount_data,impota_data],axis=1, join='inner')

In [47]:
#df = pd.DataFrame([dataf,price_data], columns=['Description','Price'])
#df2 = pd.concat([dataf,price_data,Cantidad_data,discount_data],axis=1, join='inner')

DCTO

Tasa recycling fee ,Tax means Imposto
same thing with dataframe rows make list of lists
Implement the data type check in columns
10,00

In [48]:
df2

,MM Num. artículo,Descrip. artículo,Precio,Cant.,,Imp
2,053482,makro Chef Mantequilla pura sin,"8,13",1,0,1
3,498342,Krona Derivado lácteo 35% M.G.,"5,13",3,-,1
4,091867,Tello Codillo asado 700g,"5,77",6,-,1
5,98437005103033,Julian de aguila Chorizo cular,"4,94",1,-,1
6,0,GTIN: 98437005103033 Lote: Fecha consumo prefe...,0,0,0,0
7,464113,Azuaga Salchichon ibérico extra,"20,85",1,-,1
8,002815,Higado de pato extra congelado,0,0,0,0
9,0,0,"16,79",2,-,0
10,126151,Bogavante 400-600g Canarias,"149,00",1,-,1
11,056486,Atlante Almeja blanca extra,0,0,0,0
12,0,0,"5,98",1,-,1
13,078438,makro Chef Manjares de mar 2x200g,"2,85",3,-,1
14,108128,makro Chef Pasa sultana BOLSA 1,"2,95",1,-,0
15,108070,makro Chef Almendra láminas bolsa,"5,75",1,-,0
16,108122,makro Chef Nuez mondada bolsa,"9,95",1,-,0
17,135031,Isabel Atún en aceite vegetal,"11,99",1,-,1
18,078246,makro Chef Espárrago punta blanca,0,0,0,0
19,0,0,"6,35",1,-,1
20,134214,aro Tomate frito 400g 6 unidades,"3,95",1,-,1
21,078296,makro Chef Aceite oliva virgen,0,0,0,0
22,0,0,"19,03",1,-,0
23,136816,Saborchef Aceite especial freir,"69,39",1,-,0
24,177377,Avecrem Caldo de pescado sin,0,0,0,0
25,0,0,"8,54",1,-,1
26,177473,Avecrem Caldo vegetal sin gluten,"8,05",1,-,1
27,168990,Kikoman Salsa de soja sin gluten,"9,79",1,-,1
28,089324,"aro Agua 1,5L 6 unidades","2,02",4,-,0

In [84]:
#data['Vat Number']= data['Vat Number'].str.replace(',', '')
df2.columns.values[0] = "Codigo"
df2.columns.values[1] = "Description"
df2.columns.values[2] = "Precio"
df2.columns.values[3] = "Cantidad"
df2.columns.values[4] = "Discount"

df2

,Codigo,Description,Precio,Cantidad,Discount,IMPUESTO,Tasa
1,Alfalfa CAPITANA R1,"6,500","6,500","0,00",0,0,0
2,Calabaza Butternut ECO,"1,000","1,000","30,00",0,0,0
3,Calabaza Mallorca ECO,"1,000","1,000","30,00",0,0,0
4,Lechuga Cuatro estaciones - ECO,"1,000","1,000","30,00",0,0,0
5,Pepino Marketmore 70 - ECO,"1,000","1,000","30,00",0,0,0
6,Perejil Común 2 (hoja grande) ECO,"1,000","1,000","30,00",0,0,0
7,Pimiento Largo de Reus - ECO,"1,000","1,000","30,00",0,0,0
8,Pimiento Dulce Italiano - ECO,"1,000","1,000","30,00",0,0,0
9,Rabanito medio largo rojo P.BLANCA -,"1,000","1,000","30,00",0,0,0
10,Zananhoria Nantesa ECO,"1,000","1,000","30,00",0,0,0
11,Albahaca Genovesa hoja grande - ECO,"1,000","1,000","30,00",0,0,0
12,Manzanilla (Matricaria chamomilla) - EC,"1,000","1,000","30,00",0,0,0
13,Menta ECO,"1,000","1,000","30,00",0,0,0
14,Oregano - Origanum majorana - ECO,"1,000","1,000","30,00",0,0,0
15,Fert. Universal 1250ml,"4,850","4,850","30,00",0,0,0
16,Fert. Ecoyerba Crecimiento 1250ml,"7,150","7,150","30,00",0,0,0
17,Fert. Ecoyerba Floracion 1250ml,"7,150","7,150","30,00",0,0,0
18,Fert. Universal Pellet Eco 2'5kg,"4,950","4,950","30,00",0,0,0
19,Fert. Universal 400ml,"2,950","2,950","30,00",0,0,0
20,Fert. Plantas Verdes 400ml,"3,150","3,150","30,00",0,0,0
21,Triple Accion Quimico,"9,250","9,250","30,00",0,0,0
22,Insecticida Polivalente ECO 100ml,"6,750","6,750","30,00",0,0,0
23,Triple Acción ECO 250ml,"9,950","9,950","30,00",0,0,0
24,Fungicida Polivalente ECO 750mL,"6,100","6,100","30,00",0,0,0
25,Insecticida Total Aerosol 500ml,"5,850","5,850","30,00",0,0,0
26,Insecticida Total Aerosol 250ml,"4,150","4,150","30,00",0,0,0
27,Insecticida Total Eco,"7,950","7,950","30,00",0,0,0
28,Anti Hormigas ECO,"9,250","9,250","30,00",0,0,0
29,Tierra de Diatomeas Eco talquera 250gr,"2,750","2,750","30,00",0,0,0
30,Insecticida Frutales 35g,"4,950","4,950","30,00",0,0,0
31,Sustrato Bolas Arcilla Expandida 51,"2,173","2,173","0,00",0,0,0

In [80]:
df2["Precio"]=df2["Precio"].str.replace(',','.')
df2["Cantidad"]=df2["Cantidad"].str.replace(',','.')
df2["Precio"]=pd.to_numeric(df2["Precio"])

df2
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 1 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Codigo       31 non-null     object
 1   Description  31 non-null     object
 2   Precio       31 non-null     float64
 3   Cantidad     31 non-null     object
 4   Discount     31 non-null     int64
 5   IMPUESTO     31 non-null     int64
 6   Tasa         31 non-null     int64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.9+ KB

In [81]:
df2

,Codigo,Description,Precio,Cantidad,Discount,IMPUESTO,Tasa
1,Alfalfa CAPITANA R1,"6,500",6.500,0.00,0,0,0
2,Calabaza Butternut ECO,"1,000",1.000,30.00,0,0,0
3,Calabaza Mallorca ECO,"1,000",1.000,30.00,0,0,0
4,Lechuga Cuatro estaciones - ECO,"1,000",1.000,30.00,0,0,0
5,Pepino Marketmore 70 - ECO,"1,000",1.000,30.00,0,0,0
6,Perejil Común 2 (hoja grande) ECO,"1,000",1.000,30.00,0,0,0
7,Pimiento Largo de Reus - ECO,"1,000",1.000,30.00,0,0,0
8,Pimiento Dulce Italiano - ECO,"1,000",1.000,30.00,0,0,0
9,Rabanito medio largo rojo P.BLANCA -,"1,000",1.000,30.00,0,0,0
10,Zananhoria Nantesa ECO,"1,000",1.000,30.00,0,0,0
11,Albahaca Genovesa hoja grande - ECO,"1,000",1.000,30.00,0,0,0
12,Manzanilla (Matricaria chamomilla) - EC,"1,000",1.000,30.00,0,0,0
13,Menta ECO,"1,000",1.000,30.00,0,0,0
14,Oregano - Origanum majorana - ECO,"1,000",1.000,30.00,0,0,0
15,Fert. Universal 1250ml,"4,850",4.850,30.00,0,0,0
16,Fert. Ecoyerba Crecimiento 1250ml,"7,150",7.150,30.00,0,0,0
17,Fert. Ecoyerba Floracion 1250ml,"7,150",7.150,30.00,0,0,0
18,Fert. Universal Pellet Eco 2'5kg,"4,950",4.950,30.00,0,0,0
19,Fert. Universal 400ml,"2,950",2.950,30.00,0,0,0
20,Fert. Plantas Verdes 400ml,"3,150",3.150,30.00,0,0,0
21,Triple Accion Quimico,"9,250",9.250,30.00,0,0,0
22,Insecticida Polivalente ECO 100ml,"6,750",6.750,30.00,0,0,0
23,Triple Acción ECO 250ml,"9,950",9.950,30.00,0,0,0
24,Fungicida Polivalente ECO 750mL,"6,100",6.100,30.00,0,0,0
25,Insecticida Total Aerosol 500ml,"5,850",5.850,30.00,0,0,0
26,Insecticida Total Aerosol 250ml,"4,150",4.150,30.00,0,0,0
27,Insecticida Total Eco,"7,950",7.950,30.00,0,0,0
28,Anti Hormigas ECO,"9,250",9.250,30.00,0,0,0
29,Tierra de Diatomeas Eco talquera 250gr,"2,750",2.750,30.00,0,0,0
30,Insecticida Frutales 35g,"4,950",4.950,30.00,0,0,0
31,Sustrato Bolas Arcilla Expandida 51,"2,173",2.173,0.00,0,0,0

In [86]:
import mysql.connector

#establishing the connection
conn = mysql.connector.connect(
   user='root', password='admin', host='localhost', database='sakila')
cursor = conn.cursor()

# Preparing SQL query to INSERT a record into the database.
sql = """INSERT INTO Dataa(
   vat_number,total,date_,document_type,invoice_number)
   VALUES (%s, %s, %s, %s, %s)"""
val = (dat["Vat Number"],dat["Total"],dat["Date"],dat["Document_Type"],dat["Invoice_Number"])
# Executing the SQL command
cursor.execute(sql,val)
conn.commit()
conn.close()

In [97]:
mycursor = con.cursor()
mycursor.execute('select * from dataa')
print(mycursor)
for tb in mycursor:
    print(tb)
#data = pd.DataFrame(tb)

CMySQLCursor: select * from dataa
('B76744861', 'www.gmfood.es,', '03-02-2020', 'Albaran', '200302180004999ALBARAN')
('B76744861', '52,27', '05/12/2020', 'Factura', '')
('B35129584', '52,27', '05/12/2020', 'Factura', '')
('B38947636', '250,82', '27/05/2022', 'Factura', '0/0(006)0052/(2022)147042')
('B38947636', '250,82', '27/05/2022', 'Factura', '0/0(006)0052/(2022)147042')
('B38947636', '261,26', '30/05/2022', 'Factura', '0/0(006)0052/(2022)150028')

In [94]:
import mysql.connector as c
import pandas as pd
con = c.connect(host='localhost',user='root',passwd="admin",database='sakila')

In [ ]:
insert into data_extraction(id_supplier,id_company,vat_client,vat_supplier,date,invoicenumber,document_type,file,data,total)
values(1,1,'B38947636','B38947636','2022-04-09','12456','Factura','Hi_This_is_Invoice','Data','100')